body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 40px;
}
.container {
  margin: 0 auto;
  width: 80%;
}

.imageSize {
  width: 700px;
  /* min-height: 100px; */
  text-align: left;
  white-space: pre-wrap;
  margin: 30px auto;
}
.imageSize > img {
  width: 100%;
}
button:hover {
  background-color: #f3d7b3 !important;
  font-weight: bold;
}
.editor_container {
  margin: 20px 0;
}
