body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin-bottom: 40px;
}

.container {
  margin: 0 auto;
  width: 1400px;
}

.image_size {
  width: 700px;
  border: 3px solid #484747;
}

.parameter_contents_container {
  width: 100%;
}

.image_preview {
  text-align: left;
  white-space: pre-wrap;
  margin: 0 30px 0 0;
  border-radius: 4px;
  min-width: 50%;
}

.image_preview_description {
  padding: 40px 0 0;
}

.image_size > svg {
  width: 100%;
  height: 100%;
}

.combo_title {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 12px;
}

.file_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
}

.filebox .upload-name {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.fileInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button,
.button {
  background-color: #f9121226;
  font-weight: bold;
  border: 1px solid #f75858;
  padding: 4px 13px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  color: #d80303;
}

button:hover,
.button:hover {
  background-color: #f3d7b3 !important;
  font-weight: bold;
}

.editor_container {
  margin: 20px 0;
}

.select_container {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_container > select,
.select_container > input,
.background_input {
  padding: 7px;
  border-radius: 4px;
  margin: 0 10px;
  width: 85px;
  font-size: 12px;
  border: 1px solid #b7b7b7;
}
.background_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}
.select_container > select {
  width: 100px;
  font-size: 12px;
}
.default_container {
  font-size: 10px;
  text-align: right;
  white-space: pre-line;
}

.parameter_container {
  margin-bottom: 10px;
  width: 45%;
  border: 1px solid #e0e0e0;
  padding: 6px;
  border-radius: 5px;
  position: relative;
}
.select_container > .select_title {
  font-size: 13px;
  font-weight: bold;
}
.description_container {
  font-size: 13px;
  padding: 0 0 5px 0;
}

.description_container span {
  font-size: 13px;
  display: inline-block;
}

.params_container {
  display: flex;
  flex-direction: column;
}

.params_items {
  padding: 15px;
}

.preview_container {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
  padding: 0;
}
.show {
  display: flex;
  flex-direction: column;
}

.show > h2 {
  margin: 42px 0 5px;
}

.show > p {
  margin: 0;
  font-size: 10px;
  padding: 0 0 5px;
  text-align: right;
}

.title_copy_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copy {
  display: flex;
  align-items: center;
  border: 1px solid #e8e5e5;
  border-radius: 5px;
  padding: 5px 10px;
  color: #b1b1b1;
  font-size: 13px;
  cursor: pointer;
}

.tips {
  font-size: 10px;
  background-color: transparent;
  border: 1px solid #d4cfcf;
  color: #9a9696;
  padding: 3px 2px;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.range_container {
  color: #a2a2a2;
}

.parameters_list {
  height: 600px;
  column-width: 50%;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

.tooltips {
  position: absolute;
  background-color: #ececec;
  border: 1px solid black;
  border-radius: 5px;
  right: 0;
  padding: 10px;
  z-index: 9;
}
